@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Oxygen:wght@300;400;700&display=swap");

:root {
  --color-1: #97b280;
  --color-2: #062309;
  --color-3: #153c2b;
  --color-4: #1a4327;
  --color-5: #1a4028;
  --color-6: #bde1ae;
  --color-7: #badbab;
  --color-8: #658c63;
  --color-9: #396341;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Display", sans-serif;
}

.header {
  position: fixed;
  width: 100dvw;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 1;
}

.logo-image {
  width: 250px;
}

.hamburger-div {
  display: flex;
  gap: 8px;
}

.hamburger-svc {
  width: 50px;
}

.hamburger-svc:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.toogle-menu {
  display: none;
}

.toogle-menu.active {
  display: block;
  position: fixed;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.771);
  width: 100dvw;
  height: 100dvh;
  z-index: 1;
}

.toogle-menu ul {
  color: #fbfada;
  font-size: 2rem;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.close-menu-container {
  width: 100dvw;
  display: flex;
  justify-content: flex-end;
}

.toogle-menu .close-menu {
  position: absolute;
  padding: 40px;
}

.toogle-menu img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.list-hamburger a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 12px;
}

a {
  text-decoration: none;
  color: #fbfada;
  letter-spacing: 2px;
}

.login-form-menu {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid #fbfada;
}

.login-form-menu input {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
}
.login-form-menu button {
  padding: 5px 20px;
  background-color: #97b280;
  border: none;
  border-radius: 5px;
  color: white;
}

.background-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url(/assets/sliderMonstera.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Other section */

.intro-section h1 {
  font-size: 5rem;
  text-align: center;
  color: #fbfada;
}

.intro-section h2 {
  font-size: 2rem;
  color: #fbfada;
  padding: 20px;
  text-align: center;
}

.mobile-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mobile-links img {
  width: 200px;
}

.mobile-links img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Other section */
.cards-section {
  text-align: center;
  padding: 40px 0px;
  background: url(/assets/section4background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100dvw;
}

.cards-grid {
  display: grid;
  justify-items: center;
  padding: 50px;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1000px;
  margin: 0 auto;
  width: 100dvw;
}

.card {
  opacity: 0;
  transform: translateY(50px);
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card.visible {
  animation: aparecer 1s ease-out forwards;
}

.card-1 {
  height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  backdrop-filter: blur(16px) saturate(176%);
  background-color: #658c6374;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.3s ease-in-out;
}

.card-2 {
  height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  backdrop-filter: blur(16px) saturate(176%);
  background-color: #badbab4f;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.3s ease-in-out;
}

.card-3 {
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  backdrop-filter: blur(16px) saturate(176%);
  background-color: #658c6374;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.3s ease-in-out;
}
.card-4 {
  height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  backdrop-filter: blur(16px) saturate(176%);
  background-color: #badbab4f;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.3s ease-in-out;
}

.card-5 {
  height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  backdrop-filter: blur(16px) saturate(176%);
  background-color: #658c6374;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.3s ease-in-out;
}

.card-6 {
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  backdrop-filter: blur(16px) saturate(176%);
  background-color: #badbab4f;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: transform 0.3s ease-in-out;
}

.img-plants {
  height: 100px;
}

.cards-section h1 {
  font-size: 3rem;
  padding: 25px;
  text-align: center;
  color: #153c2b;
}

.cards-section h2 {
  color: #153c2b;
  text-decoration-line: overline;
}

.paragraph-card {
  color: #000000;
}

/* Other section */

.device-version-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(57, 99, 65, 1) 100%
  );
  min-height: 100dvh;
}

.width-section-device {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
}

.device-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  max-width: 564px;
}

.device-text h2 {
  color: #153c2b;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

.device-text p {
  font-size: 1.5rem;
}

.device-img {
  text-align: center;
}

.device-img img {
  width: 500px;
}

.mobile-links-device-section img {
  width: 150px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100dvw;
  padding: 50px 0px;
  background-color: rgba(57, 99, 65, 1);
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fbfada;
}

.footer-info p {
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 850px) {
  .intro-section h1 {
    display: none;
  }
  .header {
    gap: 10px;
    position: absolute;
    justify-content: space-between;
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .intro-section h1 {
    display: none;
  }
  .intro-section h2 {
    font-size: 1.6rem;
  }
  .mobile-links {
    gap: 5px;
  }
  #google-logo {
    width: 150px;
  }
  #appStore-logo {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .background-section {
    background-attachment: scroll;
  }
  .intro-section h1 {
    display: none;
  }
  #google-logo {
    width: 150px;
  }
  #appStore-logo {
    width: 150px;
  }

  .device-text p {
    font-size: 1.2rem;
  }
  .device-img img {
    width: 300px;
  }

  .mobile-links-device-section img {
    width: 100px;
  }

  .cards-grid {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
  }
  .logo-image {
    width: 180px;
  }

  .footer-links {
    flex-direction: column;
  }
}
